<%= include header %>

<h1>Statistics - Tanks Online</h1>
<div id="msg">
	<%= msg %>
</div>
<a href="/" id="landing">Home</a>
<a href="/playgame" id="playgame">Play Now!</a>
<div class="stats" id="user_stats">
	<h2>User Statistics</h2>
	<%- user_stats_table %>
</div>
<hr />
<div class="stats" id="full_stats">
	<h2>Total Statistics</h2>
	<%- full_stats_table %>
</div>

<%= include footer %>