<%= include header %>

<h1>Statistics - Tanks Online</h1>
<div id="msg">
	<%= msg %>
</div>

<div id="user_stats">
	<%= user_stats_table %>
</div>
<hr />
<div id="full_stats">
	<%= full_stats_table %>
</div>

<%= include footer %>